body{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header .main-title{
    display: flex;
    height: fit-content;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 35px;
}
header .main-title h1{
    margin: 0;
}
header .main-title p{
    margin: 0;
    margin-top: 5px;
}
main .main-section {
    display: flex;
    justify-content: center;
    /*margin-top: 100px;*/
}
main .main-logo{
    display: flex;
    justify-content: center;
    align-items: center; 
    width: fit-content;
    height: fit-content;
    margin: 58.75px;
    position: absolute;
}
main .main-logo img{
    width: 200px;
    height: 182.5px;
}
main .countrys-left {
    display: flex;
    width: 100%;
    height: 300px;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

}
main .countrys-right {
    display: flex;
    width: 100%;
    height: 300px;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;

}
main .countrys-left li{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    /*margin-right: 100px;*/
    height: 60px;
    flex-direction: column;
    width: fit-content;
}
main .countrys-right li{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    /*margin-left: 100px;*/
    height: 60px;
    flex-direction: column;
    width: fit-content;
}
main .countrys-left .spanish{
    padding-right: 80px;
}
main .countrys-left .japanese{
    padding-right: 120px;
}
main .countrys-left .german{
    padding-right: 130px;
}
main .countrys-left .italian{
    padding-right: 120px;
}
main .countrys-left .polish{
    padding-right: 80px;
}
main .countrys-right .english{
    padding-left: 80px;
}
main .countrys-right .russian{
    padding-left: 120px;
}
main .countrys-right .french{
    padding-left: 130px;
}
main .countrys-right .chinese{
    padding-left: 120px;
}
main .countrys-right .portuguese{
    padding-left: 80px;
}
main .main-input-container{
    margin-top: 10px;
    width: 400px;
    border-radius: 0px;
    border: 1px solid #a2a9b1;
    display: flex;
    justify-content: left;
    align-items: center;
}
main .main-input {
    display: flex;
    justify-content: center;
    align-items: center;
}
main .main-input-container input{
    width: 350px;
    height: 35px;
    border: none;
    outline: none;
}
main .search-container{
    margin-top: 10px;
    width: 40px;
    height: 39px;
    background-image: url('https://cdn0.iconfinder.com/data/icons/google-material-design-3-0/48/ic_search_48px-512.png');
    /*background-size: contain;*/
    background-repeat: no-repeat;
    background-color: #3366cc;
    cursor: pointer;
}
/*
main .search-icon{
    background-image: url('https://cdn0.iconfinder.com/data/icons/google-material-design-3-0/48/ic_search_48px-512.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #3366cc;
    width: 40px;
    height: 40px;
    position: relative;
    cursor: pointer;
}
*/
main .idiom-list {
    border: none;
    outline: none;
}