body{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a{
    text-decoration: none;
    cursor: pointer;
}

header .main-title{
    display: flex;
    height: fit-content;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 35px;
}
header .main-title h1{
    margin: 0;
}
header .main-title p{
    margin: 0;
    margin-top: 5px;
}
main .main-section {
    display: flex;
    justify-content: center;
    /*margin-top: 100px;*/
}
main .main-logo{
    display: flex;
    justify-content: center;
    align-items: center; 
    width: fit-content;
    height: fit-content;
    margin: 58.75px;
    position: absolute;
}
main .main-logo img{
    width: 200px;
    height: 182.5px;
}
main .countrys-left {
    display: flex;
    width: 100%;
    height: 300px;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

}
main .countrys-right {
    display: flex;
    width: 100%;
    height: 300px;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;

}
main .countrys-left li{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    /*margin-right: 100px;*/
    height: 60px;
    flex-direction: column;
    width: fit-content;
}
main .countrys-right li{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    /*margin-left: 100px;*/
    height: 60px;
    flex-direction: column;
    width: fit-content;
}
main .countrys-left .spanish{
    padding-right: 80px;
}
main .countrys-left .japanese{
    padding-right: 120px;
}
main .countrys-left .german{
    padding-right: 130px;
}
main .countrys-left .italian{
    padding-right: 120px;
}
main .countrys-left .polish{
    padding-right: 80px;
}
main .countrys-right .english{
    padding-left: 80px;
}
main .countrys-right .russian{
    padding-left: 120px;
}
main .countrys-right .french{
    padding-left: 130px;
}
main .countrys-right .chinese{
    padding-left: 120px;
}
main .countrys-right .portuguese{
    padding-left: 80px;
}
main .main-input-container{
    margin-top: 10px;
    width: 400px;
    border-radius: 0px;
    border: 1px solid #a2a9b1;
    display: flex;
    justify-content: left;
    align-items: center;
}
main .main-input {
    display: flex;
    justify-content: center;
    align-items: center;
}
main .main-input-container input{
    width: 350px;
    height: 35px;
    border: none;
    outline: none;
}
main .search-container{
    margin-top: 10px;
    width: 40px;
    height: 39px;
    /*background-size: contain;*/
    background-repeat: no-repeat;
    background-color: #3366cc;
    cursor: pointer;
}
main .search-icon-container {
    display: flex;
    height: 39px;
    align-items: center;
    justify-content: center;
}

main .search-icon{
    width: 20px;
    height: 20px;
    position: relative;
    cursor: pointer;
}
main .idiom-list {
    border: none;
    outline: none;
}
main .main-translate-section{
    display: flex;
    margin-top: 25px;
    justify-content: center;
    align-items: center;
}
main .translate-border-left{
    border: 0.1px solid #a2a9b1;
    height: 0px;
    width: 95px;
    margin-right: 15px;


}
main .translate-border-right{
    border: 0.1px solid #a2a9b1;
    height: 0px;
    width: 95px;
    margin-left: 15px;
}
main .translate-container{
    display: flex;
    border: 1px solid #a2a9b1;
    width: 230px;
    height: 25px;
    justify-content: left;
    align-items: center;
}
main .transalate-list{
    height: 24px;
    width: 190px;
    border: none;
    outline: none;
    cursor: pointer;
}
main .translate-icon-container{
    margin: 0;
    margin-left: 7px;
    margin-right: 7px;
}
main .translate-icon{
    width: 17px;
    height: 17px;
}
main .main-bottom-border-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
}
main .main-bottom-border{
    border: 0.1px solid #a2a9b1;
    height: 0px;
    width: 95%;
}
main .more-poducts-section{
    display: flex;
    align-items: center;
}
main .about-wikipedia{
    width: 30%;
    height: 400px;
}
main .wikipedia-products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /*grid-template-columns: 6fr 10fr;*/
    width: 70%;
    height: 400px;
    
}
main .products{
    display: grid;
    list-style: none;
}
main li a {
    display: flex;
    align-items: center;
}
main .metawiki-img{
    width: 37x;
    height: 37px;
}
main .mediawiki-img{
    width: 42x;
    height: 42px;
}
main .wikidata-img{
    width: 49x;
    height: 49px;
}
main .wikiccionario-img{
    width: 37px;
    height: 37px;
}
main .wikispecies-img{
    width: 42px;
    height: 42px;
}
main .wikiquote-img{
    width: 42px;
    height: 42px;
}
main .wikinoticias-img{
    width: 47px;
    height: 26px;
}
main .wikiviajes-img{
    width: 36px;
    height: 36px;
}
main .wikisource-img{
    width: 39px;
    height: 39px;
}
main .wikiuniversidad-img{
    width: 43px;
    height: 37px;
}
main .wikilibros-img{
    width: 37px;
    height: 37px;
}
main .commons-img{
    width: 47px;
    height: 47px;
}
main li a img{
    margin-right: 10px;
}

